body {
  background-color: black;
  font-family: sans-serif;
}

h1,
h2,
h3,
p {
  color: white;
}

/*nav bar styling*/
nav {
  background-color: gray;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0;
}

nav ul li {
  display: inline-block;
  height: 2rem;
  position: relative;

  padding-top: 1rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;

  margin: 0;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  color: black;
}

nav ul {
  text-align: center;
  padding: 0;
  margin: 3px;
}

nav ul li:hover {
  border-width: 2px;
  border: solid;
  border-color: red;
  background-color: rgb(83, 83, 83);
}

.lang-button {
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
  margin: 0;
}
.lang-button:hover {
  border: none;
}

.active-page {
  border: none;
  background-color: rgb(83, 83, 83);
}
.active-page:hover {
  border: none;
}
.active-lang {
  background-color: blue;
}

/*logo styling*/

.big-logos {
  width: 60%;
  height: auto;
}
.welcome {
  width: 70%;
}

/*link styling*/

.red-link:hover {
  border: dotted;
  color: rgb(206, 6, 6);
}
.red-link {
  text-decoration: none;
  color: red;
}
.small-download-button {
  width: auto;
  height: 3rem;
  background-color: gray;
  border-radius: 1rem;
}
.small-download-button:hover {
  background-color: rgb(83, 83, 83);
}

/*button styling*/

.send-mail-button {
  height: 4rem;
  width: 10rem;
  border: none;
  border-radius: 0;
  background-color: gray;
}

.send-mail-button:hover {
  background-color: rgb(83, 83, 83);
  border: solid;
  border-color: red;
}
