/*---------------------------------------
  VARIABLES
---------------------------------------*/
/*ten levels of grey */
/*secondary colors*/
/*light*/
/*dark*/
/*Shady stuff*/
/* level 0 */
/* level 1 */
/* level 2 */
/* level 2 inverted */
/* level 3 */
/*---------------------------------------
  GLOBAL
---------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*times 16(standard font size) = 10px*/
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.subheading {
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  color: #ff1919;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.mobile-nav-btn {
  display: none;
}

/*---------------------------------------
  reuseable
---------------------------------------*/
.grid {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grid--2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 140rem;
  padding: 3rem;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*---------------------------------------
  NAVIGATION
---------------------------------------*/
.header {
  height: 7.5rem;
  padding: 0 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  border-bottom: 0.1rem solid #ffffff;
}

.home {
  margin-left: 1rem;
  height: 100%;
}

.welcome-logo {
  padding: 0;
  margin: 0;
  height: 7rem;
  width: auto;
}

.download-logo {
  padding: 0;
  margin: 0;
  margin-top: -10rem;
  height: 15rem;
  width: auto;
}

.about-logo {
  padding: 0;
  margin: 0;
  margin-top: -10rem;
  height: 15rem;
  width: auto;
}

.main-nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.nav-item {
  font-size: 2rem;
  color: #ffffff;
}

.main-nav-link {
  color: #ffffff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff0000;
}

/*---------------------------------------
  DOWNLOADS
---------------------------------------*/
.back-btn-ico {
  display: none;
}

.subheading-downloads {
  margin-bottom: 10rem;
}

.red-subheading-downloads {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #107efc;
  font-size: 3rem;
}

.hero-downloads {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download-nav {
  margin-top: 10rem;
}

.download-nav-tittle {
  font-size: 2rem;
}

.download-nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.download-nav-ul li {
  margin: 1rem;
}

.download-nav-ul li a {
  color: #107efc;
  margin-right: 10rem;
  padding: 1rem 3rem;
  border: #ffffff solid 0.1rem;
}

.download-nav-ul li a:hover {
  color: #ffffff;
  background-color: #083f7e;
}

.red {
  color: #ff0000;
  font-weight: bold;
}

/*download cards*/
.download-cards-section {
  margin-top: 5rem;
}

.download-card {
  padding: 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: auto;
}

.download-card:hover,
.download-card:active {
  background-color: #e0e0e0;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.download-name {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.name-and-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-ico {
  height: 1.75rem;
  width: 1.75rem;
  padding: 0;
  margin: 0;
  padding-right: 1rem;
}

.download-description {
  line-height: 1.6rem;
  font-size: 1.25rem;
  margin-bottom: 5rem;
}

.lang-icon {
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.download-icon {
  color: #000000;
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.download-btn-description {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}

/*---------------------------------------
  HERO
---------------------------------------*/
.main-section-hero {
  margin-top: 15rem;
}

.main-heading-title {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.hero-description {
  font-size: 2rem;
}

.main-logo {
  max-width: 70rem;
  height: auto;
}

.hero-subscription {
  margin-top: 8rem;
}

.hero-nav {
  margin-top: 5rem;
}

.hero-nav-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.hero-nav-description {
  line-height: 2rem;
  font-size: 1.65rem;
  margin-bottom: 10rem;
}

/*---------------------------------------
  BUTTONS
---------------------------------------*/
.btn {
  background-color: #ffffff;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn:hover {
  background-color: #bdbdbd;
}

.btn:active {
  padding: 0.9rem;
}

.download-btn {
  border: 0.1rem solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 13rem;
}

.big-btn {
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10rem 10rem;
  height: 10rem;
  background-color: #ff0000;
}

.big-btn:hover {
  background-color: #b30000;
  border: 0.5rem solid #ffffff;
}

.get-python-btn {
  margin-top: 10rem;
}

/*---------------------------------------
  HOW TO 
---------------------------------------*/
.big-python-logo {
  height: 50rem;
  width: auto;
  color: #ffffff;
}

.how-to-description {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

/*---------------------------------------
  ABOUT
---------------------------------------*/
.section-identity {
  margin-top: 20rem;
}

.name-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.name-card:hover,
.name-card:active {
  background-color: #e0e0e0;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.name-card-name {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.name-profile {
  font-size: 1.75rem;
}

@media screen and (max-width: 1400px) {
  .welcome-logo {
    display: none;
  }
  .download-logo {
    display: none;
  }
  .about-logo {
    display: none;
  }
  .big-python-logo {
    height: 20rem;
    margin: 0;
    padding: 0;
  }
  .download-nav ul {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .main-nav-ul {
    display: none;
  }
  .mobile-nav-btn {
    display: inherit;
  }
  .mobile-nav-close-btn {
    display: none;
  }
  .nav-open .mobile-nav-close-btn {
    display: inherit;
  }
  .nav-open .mobile-nav-open-btn {
    display: none;
  }
  .nav-open .main-nav-ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(88, 88, 88, 0.99);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-open .main-nav-link {
    font-weight: 500;
    line-height: 2;
    font-size: 5rem;
  }
  .mob-btn {
    font-size: 8rem;
    z-index: 999999;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    gap: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grid--2-cols {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }
  .big-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    padding: 0.25rem 0.25rem;
    border-radius: 1rem;
    font-size: 1.75rem;
    margin: 0;
    height: 5rem;
  }
  .big-btn:hover {
    -webkit-transform: none;
            transform: none;
  }
  .back-btn-ico {
    display: inline-block;
  }
  .back-btn-ico {
    font-size: 4rem;
  }
  .subheading-downloads {
    margin-bottom: 2rem;
  }
  .how-to-description {
    margin-top: 2rem;
  }
  .main-heading-title {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .download-nav ul {
    display: none;
  }
}
/*# sourceMappingURL=style0.1.css.map */